@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
body { 
        font-family: var(--paragraph-font);
        max-width: 960px;
        padding: 20px;
}
:root {
    --primary-color: #bd7014;
    --secondary-color: #414e54;
    --accent1-color: #605e51;
    --accent2-color: #35332b;
    

    --heading-font:'Josefin Sans', display;
    --paragraph-font: Poppins, sans-serif;

    --nav-background-color: #bd7014;
    --nav-link-color: #35332b;
    --nav-hover-link-color: #bd7014;
    --nav-hover-background-color: #35332b;
}

h1, h2, h3, h4, h5, h6 {
    text-indent: 20px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-shadow: 1px 1px 1px #EFB46B;
}

h2  {
    text-indent: 5px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-decoration: underline;
    text-underline-offset: 10px;
}

h3 {
    text-indent: 15px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-decoration: underline;
    text-underline-offset: 10px;
}


header {
    padding: 20px;
    background-color: var(--accent2-color);
    font-size: larger;

}

.author {
    font-family: var(--paragraph-font);
    color: #EFB46B;
    font-weight: 300;
}

p {
    padding-left: 30px;
}

img {
    padding-left: 30px;
}
.color-pallet {
    margin-bottom: 100px;
}
.color-pallet img{
    float:left;
    padding-right: 20px;
}

.callout {
    padding-left: 30px;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    background-color: rgba(239, 180, 107, .1);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    width:auto;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
