* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #476840;
  padding: 1rem;
}

nav a { 
  color: #e7e4e7d3;
  display: block;
  padding: .5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

h1 {
  color:#6d4875;
  padding: 1px;
  border-bottom: solid 2px #063102;
  margin-bottom: 20px;
}

main img {
  float: right;
  width: 200px;
  height: auto;
  border: 1px solid rgb(25, 29, 33);
  padding: 3px;
  box-shadow: 0 0 5px #476840;
  margin: .5rem 0 6px 8px;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

main p{
  padding: 10px 0 0 5px ;
  text-indent: 30px;
}



aside {
  width: 20rem;
  height: 95%;
  text-align: center;
  position: relative;
  align-content: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside h2{
  color: #c8b3cb;
  text-shadow: 1px 1px 1px #063102;
  position: absolute;
  left: 120px;
}

aside img {
  width: 250px;
  height: auto;
  box-shadow: 0px 0px 10px #6d4875;
  margin-bottom: 30px;

}

footer {
  margin-top: 2rem;
  border-top: 2px  solid #6d4875;
  text-align:center;
}

/* Class Selectors */
.box { 
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(176,203,170,.9);
  background-color: rgba(203,180,170,.2) ;
  color:#6d4875;
}

.box li{
  padding: 2px;
}

.indent {
  padding-left: 2rem;
}