* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #476840;
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 5px;
}

h1 {
  color:#6d4875;
  padding: 15px;
}

main img {
  float: right;
  width: 200px;
  height: auto;
  border: 1px solid rgb(25, 29, 33);
  padding: 2px;
  box-shadow: 0 0 10px #476840;
  margin: 0 0 2rem 2rem
}

main p{
  padding: 25px;
}

main {
  max-width: 640px;
}

aside {
  width: 20rem;
  text-align: center;
  position: relative;
}

aside h2{
  color: #c8b3cb;
  text-shadow: 1px 1px 1px #063102;
  position: absolute;
  left: 120px;
}

aside img {
  width: 200px;
  height: auto;
  box-shadow: 0px 0px 10px #6d4875;

}
footer {
  margin-top: 2rem;
  border-top: 2px  solid #6d4875;
  text-align:center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(176,203,170,.9);
  background-color: rgba(203,180,170,.2) ;
  color:#6d4875;
}

.box li{
  padding: 2px;
}

.indent {
  padding-left: 2rem;
}